/* Globals */

body{
    text-align: justify;
    /* background: #58ec91; */
    margin:0;
    padding:0;
    background: linear-gradient(#009879, #58ec91);
}

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container{
    width:100%;
    margin:auto;
    /* padding:0; */
    overflow:hidden;
}

h1, h2{
    text-align: center;
}

.toggle, [id=drop]{
    display: none;
}

/* Header */

header{
    /* background:#009879; */
    /* background: linear-gradient(#58ec91, #009879); */
    /* color:#ffffff; */
    /* min-height:50px; */
    width:100%;
    padding:0;
    /* border-bottom: thin #c0c0c0 solid; */
    border-bottom: thick rgb(58, 57, 57) solid;
    text-align: center;
    display: inline-block;
    /* border:1px solid rgba(58, 57, 57, 0.15); */
}

header ul{
    margin:0;
    padding:0;
}

header img{
    max-width: 5%;
    margin:0;
}

nav li{ /* Horizontal links */
    display:inline-block;
    margin: 25px 0;
    padding:0 20px;
    /* text-align: center; */
}

nav a{ /* Links */
    color:#000000;
    text-decoration:none;
    text-transform:capitalize;
    font-size:30px;
}

nav .current a{ /* Current Page */
    /* color:#e8491d; */
    color:#afca54;
    font-weight:bold;
}

nav a:hover{ /* Link Hover */
    color:#a4bfd1;
    font-weight:bold;
}


/* Body */

.body-margin{
    padding:0;
    margin:0 300px;
}

#title{
    min-height: 400px;
    text-align: center;
    font-size: 3.5rem;
    /* background-color: #071739; */
}

#title img{
    display: block;
    margin: 0 auto;
    margin-left:100px;
    min-width: 5%;
    width: 20%;
}

#icbv_img{
    margin-left: 650px;
    width:80%;
}

#link_insc{
    font-size: 60px;
    text-align: center;
    border: 2px solid #000000;
    background: #c0c0c0;
    margin: 0 400px;
}

img{
    width:30%;
    float: left;
    margin:1.66%;
}

.row{ /* Flexbox */
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-flow: row wrap;
    margin: 0;
    /* min-width: 200px; */
}

.column{
    display:flex;
    align-items:left;
    justify-content:space-between;
    flex-flow: column;
    margin: 80px 0;
    text-align:left;
}

.row *{
    flex: 2 1 400px;
    width: 60%;
    margin:0 15px 50px 50px;
    padding: 0;
    text-align: center;
}

.iframe_container{
    margin-left:400px;
}

h1 span, h2 span{
    font-weight: 300;
    display:block;
    font-size: .7em;
}

.fig{
    position: relative;
}

.onerow{ /* Flexbox */
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-flow: row wrap;
    /* margin: 200px 0; */
    /* min-height: 200px; */
}

.coord, .alu{
    display:flex;
    align-items:left;
    justify-content:space-between;
    flex-flow: column;
    margin: 80px 0;
    text-align:left;
}

.coord p{
    position: relative;
    align-items:center;
    margin-top: 150px;
    font-weight: bold;
}

.coord img, .alu img{
    width: 20%;
    border-radius: 10px;
}

.alu p{
    margin-top: 150px;
    font-weight: bold;
}


.coluna,
.coluna img{
    margin: 0 auto;
    text-align: center;
}

#ibagens{
    text-align: center;
    font-size: 1.2rem;
}

#local_desc img{
    width: 40%;
}

#local_desc p{
    margin-top: 150px;
}

#imgap, #EcoEvol,
    #PGBM, #INCT,
    #Collevatti{
    width:40%;
    margin-left: 350px;
}

/* #pat_imgap .imagem{
    width:13%;
}

#pat_imgap .imagem2{
    width:7%;
} */

.contato_email{
    display: inline-block;
}

.contato_email img{
    width: 20%;
    float:left;
}

.contato_email p{
    font-size: 1.5rem;
}

/*  Table */

table{
    margin: 0 auto;
    border-collapse: collapse;
    padding: 0 2em 1em 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

th{
    text-align: center;
}

table thead tr{
    background-color: #009879;
    color:#ffffff;
    text-align: left;
    font-weight: bold;
}

.semana{
    background-color: #e8491d;
}

table tbody tr{
    border-bottom: 1px solid #dddddd;
}

table th,
table td{
    padding: 12px 15px;
}

table tbody tr:nth-of-type(even){
    background-color: #70ebd2;
}

.table_dia {
    background-color: #58ec91;
}


/* Hover */

.himg{
    position: relative;
    width: 50%;
}

.home-img{
    /* display: block; */
    width: 25%;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: .5s ease;
    background-color: #008CBA;
}

.hover-text{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.himg:hover .overlay{
    width: 50%;
    left: 0;
}

.overlay a{
	display: block;
    width: 180px;
    font-size: 1.5rem;
	background: #6fc5e9;
	border: 1px solid #59afd4;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	/* padding: 10px 15px; */
	margin: 16px auto 0;
}


/* Responsive */

@media screen and (max-width:768px){

    .body-margin{
        padding:0;
        margin:0 15px;
    }

    #icbv_img{
        margin-left: 300px;
        width:80%;
    }

    #logo {
        display:block;
        width:100%;
        text-align: center;
        float: none;
        padding:20px 0 10px;
    }

    #link_insc{
        font-size: 40px;
        text-align: center;
        border: 2px solid #000000;
        background: #c0c0c0;
        margin: 0 200px;
    }

    .alu p,
    .coord p{
        margin-top: 70px;
    }

    /* #imgap, #EcoEvol,
    #PGBM, #INCT,
    #Collevatti{
        width:40%;
        margin-left: 250px;
    } */

    .hover-text{
        display:none;
    }

    nav ul li{
        width: 100%;
    }

    .toggle + a,
    .menu{
        display: none;
    }

    .toggle{
        display: block;
        background-color: #00457c;
        padding: 14px 20px;
        color: #fff;
        font-size: 17px;
        cursor: pointer;
    }

    .toggle:hover{
        background-color: #003c6c;
    }

    [id^=drop]:checked + ul{
        display:block;
    }

    .row{
        min-width:30%;
    }

    #primary{
        width:100%;
    }

    #secondary{
        width:100%;
        margin:0;
        border:none; 
    }

    img {
        max-width: 100%;
    }

    .iframe_container{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin:0;
    }

    .iframe_container iframe,  
    .iframe_container object,  
    .iframe_container embed{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    
    .overlay a{
        white-space: wrap; 
        width: 5rem; 
        overflow: visible;
    }

    .himg:hover .overlay{
        width: 70%;
        left: 0;
    }

    
}